openapi: 3.2.0
info:
  description: '### *Stadium’s API can only be used by customers and partners on the Business and Enterprise Packages.'
  version: 2.0.0
  title: Stadium User management API
  termsOfService: https://www.bystadium.com/terms-of-use/
  contact:
    name: API Support
    email: engineering@bystadium.com
    url: https://www.bystadium.com
  x-logo:
    url: https://assets.auth0.bystadium.com/images/logos/color/stadium.svg
    altText: Stadium logo
servers:
- url: https://api.bystadium.com/api/v2
  description: Default server
- url: https://api.preprod.bystadium.com/api/v2
  description: Sandbox server
tags:
- name: User Management
  description: User related API endpoints
paths:
  /users/me:
    get:
      tags:
      - User Management
      summary: Get user profile
      description: Get the user profile including wallet balance.
      operationId: getUserProfile
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidToken'
      security:
      - Token: []
components:
  schemas:
    User:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        stadium_points_balance:
          type: integer
          format: int64
          description: Your reward point balance
        wallet_balance:
          type: integer
          format: int64
          description: Your stadium money wallet balance
        wallet_currency:
          $ref: '#/components/schemas/WalletCurrencyDetail'
        billing_country:
          type: string
          description: ISO code of the billing country
        billing_zipcode:
          type: string
          description: Billing Zip code
    InvalidToken:
      type: object
      properties:
        error:
          type: string
          description: Error raised while trying to authorize the request
          example: Invalid token
    WalletCurrencyDetail:
      type: object
      properties:
        code:
          type: string
          example: USD
        name:
          type: string
          example: US Dollar
        symbol:
          type: string
          example: $
  securitySchemes:
    Token:
      type: http
      in: header
      scheme: bearer
      bearerFormat: JWT
